# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/

# Node / Next.js
node_modules/
dist/
.vite/
.next/
out/
*.tsbuildinfo

# IDEs
.idea/
.vscode/

# OS
.DS_Store

*.sublime-workspace
*.sublime-projectsimulink/engine_digital_twin_dataset.csv
simulink/engine_digital_twin_dataset.csv
